/*MY IMAGE SECTION*/
#header{
  z-index: 2;
}

#myPicDiv{
  left: 0;
  right: 0;
  z-index: -2;
  margin-top: -10%;
  max-width:100%;
  height:auto;
  position: relative;
}
  /*position:relative;*/
#quote{
  z-index:3;
  position: absolute;
  /*margin-bottom: 10%;*/
  margin-left: 2%;
  height: auto;
  top:195px;
  line-height: 225%;
}
.topQuote, .bottomQuote{
  display:inline-block;
}

.quoteImg{
  width:40px;
  margin-top: -40%;
}
.quoteText{
  font-size: 40px;
  font-weight: bold;
  color: rgb(74, 74, 74);
}

#myPic{
max-width:100%;
height:auto;
left: 0;
right: 0;
}

/*CONTACT SECTION*/
#contact{
background-color: rgb(154,16,112);
padding-bottom: 20px;
padding-top: 15px;
text-align: center;
color: rgb(236,233,226) !important;
}

#websiteLink, #gitHubLink, #gmail{
  color: rgb(236,233,226) !important;
}
.deetsLi{
  color:white;

}

.sectionTitle{
  font-size: 40px;
  text-align: center;
}
#jobTitle{
  font-size: 26px;
}

#jobLocation{
font-size: 20px;
}

ul{
  list-style-type: none;
}

li{
  display: inline;
}

.deetsImg{
  width: 20px;
}
