/*FOR APPROPRIATE STYLING OF ALL PAGE BODYS*/
body{
  font-family: 'Open Sans', sans-serif;
  color: rgb(74,74,74);
  font-size: 18px;
  overflow-x: hidden;
}

/*FOR LOGO*/
#jdLogo{
  width:60px;
  margin-left: 50px;
  margin-top:2.5%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

/*TEXT COLORS*/
.sunset{
  color: rgb(251,235,219);
}

.mountain {
  color: rgb(60,89,104);
}

.octoOrange{
  color: rgb(221,98,92);
}

.octoGreen {
  color: rgb(01,161,167);
}

.charcol{
  color: rgb(74,74,74);
}

.webmdBlue{
  color: rgb(55,147,195);
}

.webmdGreen{
  color: rgb(133,167,0);
}
/*BACKGROUND COLORS*/

.webmdBlueBack{
  background-color: rgb(55,147,195);
}

.webmdGreenBack{
  background-color: rgb(133,167,0);
}


/*FOR LOTS OT TEXT REQUIRING SERIF TO READ IT WELL*/
.heavyText{
  font-family: 'Lora', serif;
}

/*TITLE SIZES*/
