/*HEADER BLOCK*/
/*see project.css*/

/*INTRODUCTION*/
/*see project.css*/

.projectTitleBox{
    height:475px;
  }

.container{
  text-align: center;
  /*width:100%;
  display: block;*/
}

.emojiBunny{
  width:250px;
  padding-top: 12%;
  padding-bottom: 2%;
  text-align: center;
  margin:0 auto;
}

/*OUR PROCESS*/
  .processCircle{
  background-color: rgb(206,43,125);
}

/*REQUIREMENTS SECTION*/
/*see project.css*/

.requirements{
    font-size: 40px;
    text-align: center;
}

/*IDE-A CIRCLES*/
/*see project.css*/

.circleRecWrapper{
  text-align: center;
}

.recCircle{
width:300px;
height:300px;
border-radius:50%;
border: solid 3px rgb(0,111,255);
color: rgb(74, 74, 74);
display:inline-block;
margin: 2%;
position:relative;
}

.circleRecTitle{
  font-size: 24px;
  font-weight: bold;
  position:absolute;
  width:100%;
    padding-top:20%;
}

.circleRecText{
  font-size: 18px;
  position:absolute;
  width:100%;
  padding-top:35%;
  padding-left:8%;
  padding-right:8%;
}

/*STRATEGY
VETTING IDEAS*/
/*see project css for more code*/

.compDiv{
  text-align: center;
}
.compShots{
  width:70%;
  margin-bottom: 2%;

}
.bullet{
  margin: 1%;
}

.bulletEngineer{
  margin-bottom: 2%;
}
.emojiIdeaDiv{
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
}

.emojiIdeaImgUsers{
width:350px;
}

.emojiIdeaImgComp{
width:350px;
}

.emojiIdeaImgEngineer{
  width:110px;
}

.emojiIdeaDivEngineer{
  width:350px;
  text-align: right;
}

.emojiText{
  text-align: left;
  width:55%;
  display: inline-block;
  margin:0 auto;
  /*text-align: center;*/
}

.emojiSubText{
  font-size: 18px;
}

/*NOTHING IS WROKING*/
@media screen (max-width: 878px){
  .emojiIdeaDiv{
    display: block;
    margin: 0 auto;
  }

  .emojiText{
    display: block;
    /*margin: 0 auto;*/
    margin-top:1%;
    width: 60%;
  }

  .emojiIdeaDivEngineer{
    text-align: center;
    margin-bottom: 2%;
  }

  .emojiIdeaImgEngineer{
      margin: 0 auto;
  }
}

/*STRATEGY*/
/*THINK BIG/START SMALL*/

.thinkBigDiv{
  text-align: center;
  width:90%;
  margin:0 auto;
}

.thinkBigP1{
    font-size: 20px;
    text-align: left;
    margin-bottom: 3%;
}

.thinkBigP{
  text-align: left;
}


.bibAndLibImg{
  width:80%;
}

/*STRATEGY:
THE PLAN*/

.planImg{
  width:70%;
  margin: 0 auto;
}


/*.compThreatLogosDiv{
  text-align: center;
}*/
/*
.compThreatLogosText{
  text-align: center;
  width:63%;
  margin:0 auto;
  margin-bottom: 2%;
}

.compThreatLogoTitle{
  font-size: 40px;
  text-align: center;
  margin-top:3%;
  margin-bottom: 2%;
}

.compThreatLogoSubTitle{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.compThreatLogoText{
  text-align: left;
}*/

/*.compThreatLogosImg{
  width:70%;
}*/

/*.compThreatLogosImg2{
  width:80%;
  margin: 0 auto;
}

.arrowDiv{
margin-top: 3%;
margin-bottom: 2%;
}

.arrowImg{
  width: 75px;
}

.arrowText{
  font-size: 24px;
}

.arrowTextABit{
  margin-top: 1%;
  margin-bottom: 1%;
}*/


/*RESEARCH*/

.researchpics{
  width:60%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.tupperware{
  margin-bottom: 0%;
}

.bumperSticker{
    width:50%;
}

.easyButton{
  width:30%;
  margin-top: 1%;
}

.emojiResearchDiv{
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
}

.emojiReseachText{
  display: inline-block;
  width:70%;
  text-align: left;
}

.emojiResearchBullet{
  margin-bottom: 2%;
}

.emojiResearchBulletDiv{
  margin:1%;
}

.emojiResearch{
  width:50px;
}

.emojiResearchBullet{
  font-size: 24px;
  font-weight: bold;
}

.phew{
  width:83%;
  margin: 0 auto;
}

/*SYNTHESIS */
.lessonsLearned{
  width:70%;
  margin-top: 1%;
  margin-bottom: 3%;
}

/*SSYNTHESIS*/
/*lessons learned*/

.swot{
  text-align: center;
}

.swotTitle{
  font-size: 20px;
  font-weight: bold;
  color: rgb(206,43,125);
}

.swotRec{
  width: 250px;
  height:350px;
  color: rgb(74,74,74);
  text-align: left;
  margin: 1%;
  padding: 1%;
  vertical-align: top;
  background-color: white;
  border: 3px dotted rgb(0,111,255);
  display: inline-block;
}
/*strategy
DESIGN BULLETS*/
.decCircle{
  width:50px;
  height:50px;
  border-radius:50%;
  color:white;
  position:relative;
  vertical-align: top;
  margin-right: 2%;
  display: inline-block;
  font-size:26px;
  padding-top:7px;
}

/*DESIGN:
FEATURES*/



.features{
  width:200px;
  height:200px;
  border-radius:50%;
  border: solid 3px rgb(0,111,255);
  color: rgb(74, 74, 74);
  display:inline-block;
  margin: 2%;
  position:relative;
}

.featuresText{
  font-size: 24px;
  position:absolute;
  width:100%;
  padding-top:20%;
  padding-left:3%;
  padding-right:3%;
}

.features1And3{
  padding-top:30%;
}

.features4{
  padding-top:33%;
}

/*DESIGN:
PAPER PROTOTYPES*/

.userTestTitle{
    font-size: 40px;
}

.paperPrototypes{
  text-align: center;
}

.paperProtoDiv{
  display: inline-block;
  margin: 2%;
}

.paperProtoImg{
  width:300px;
  height:400px;
}

.paperProtoText{
  font-size: 20px;
}


/*DESIGN:
USEABILITY TESTING*/

.UseTestTitle{

}
.squareRecSec{
  display: inline-block;
  /*margin-bottom: 5%;*/
  vertical-align: top;
}

.rec {
  width: 225px;
  height: 75px;
  color:rgb(74, 74, 74);
  text-align: left;
  padding:5%;
  text-align:left;
}

.recPaddimg{
  padding:2%;
}

.square{
  width: 225px;
  text-align: center;
  padding: 3%;
}

.squareRec{
  text-align: center;
}

/*DESIGN:
Usability testing findings*/
.findings2PParent{
  text-align: center;
  margin:5%;

}

.findings2P{
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

/*build
TRicks*/
.tricks{
  width:80%;
}

/*BUILD FEATURES SCREEN SHOTS*/

.screenShotTitle{
  font-size: 24px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: bold;
}

 .screenShotTitle2{
     font-size: 24px;
     margin-top: 2%;
    font-weight: bold;
 }

.screenShot{
  width:80%;
  text-align:center;
}

.screenShotText{
  width:40%;
}
.screenShotTable{
  width:15%;
}


/*build
button*/
button {
  padding: 10px 15px 10px 15px;
  background-color: rgb(0,111,255);
  border-radius: 6px;
  font-size: 30px;
  text-shadow:none !important;
  border: 3px solid rgb(0,111,255);
  box-shadow:none !important;
  margin-top:3%;
  margin-bottom:3%;
  color: white;
}

/*SYNTHESIS: REDEFINE PROBLEM*/

.problemTitle{
  width:80%;
  margin:0 auto;
  /*text-align: left;*/
}

.problemSubText{
  font-size: 18px;
}

.statementBusGoals {
  margin-top: 2%;
}

.problemText{
  text-align: left;
  width:70%;
  display: inline-block;
  margin:0 auto;
}


/*row for bootstrap*/
.featuresList{
  text-align: center;
  margin-top: 1%;
  margin-bottom:1%;
}

.realTimeAndNur2{
  display:inline-block;
  text-align: center;
  width:430px;
  vertical-align: top;
  margin: 1%;
}

.experienceTitleIcon{
  text-align: left;
  font-size: 30px;
}

.iconSentence{
  text-align: left;
}

.experienceSentence2{
  display: inline-block;
  text-align: left;
}

.featureIcon{
  width: 25px;
  display: inline-block;
  margin-right: 2%;
}
