/*Other Header*/

/*header{
  background-color: rgba(207,208,203, 0.3) !important;
}*/

/*NAV NAV NAV NAV NAV NAV */
/*nav{
  height: 50px;
}*/
/*#menu-bar p, #menu-bar a {
    color: white;
    -webkit-text-shadow: none;
    text-shadow: none;
}*/

/*REFORMATTING BOOTSTRAP*/

.button, .input, .optgroup, .select, .textarea {
  /*cream on click*/
  color: rgb(236, 233, 226);
}

.navbar-default .navbar-toggle{
  /*border to box*/
  border: 1px solid rgb(74, 74, 74);

}
.navbar-default, .navbar {
    background-color:rgba(207,208,203, 0.6) !important;
    /*-webkit-background-image:none !important;
    -moz-background-image:none !important;*/
    border: none;
    border-radius: 0px;
    border-color:none;
}

/*WAS #navHome NEED TO CHANE IN OTHER FILES*/
#bs-example-navbar-collapse-1{
  float: right;
  font-size: 18px;
  /*border-top: 1px solid rgb(74, 74, 74);*/
}

#navUl{
  text-decoration: none !important;
  padding-top:10px;
}

.homeBarli{
  display: inline;
}

li a{
    text-decoration: none !important;
    color: rgb(74, 74, 74) !important;
}

#homeHome{
  margin-right:50px;
}

#resumeHome{
  margin-right:50px;
}

#aboutHome{
  margin-right: 50px;
}

.clearFix:before, .clearFix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
