/*Other Header*/

header{
  background-color: rgba(207,208,203, 0.3) !important;
}

/*NAV NAV NAV NAV NAV NAV */
/*nav{
  height: 50px;
}*/
/*#menu-bar p, #menu-bar a {
    color: white;
    -webkit-text-shadow: none;
    text-shadow: none;
}*/

/*HELP!!!!*/
.navbar-default, .navbar {
    background-color:rgba(207,208,203, 0.3) !important;
    /*border:0px;*/
    /*-moz-box-shadow: none;
    -webkit-box-shadow:none;
    box-shadow: none;
    filter: none;
    background-image:none !important;
    -webkit-background-image:none !important;
    -moz-background-image:none !important;*/
    border: none;
    border-radius: 0px;
    border-color:none;
}
/*.navbar-default .navbar-nav > li > a {
    color: rgb(93,104,106) !important;*/
    /*border:0px;*/
    /*-moz-box-shadow: none;
    -webkit-box-shadow:none;
    box-shadow: none;
    background-image:none !important;
    -webkit-background-image:none !important;
    -moz-background-image:none !important;
    border: none;
    border-radius: 0px;
    border-color:none;
}*/
/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color:rgba(207,208,203, 0.3) !important;
    color: rgb(93,104,106) !important;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow:none;
    background-image:none !important;
    -webkit-background-image:none !important;
    -moz-background-image:none !important;
    border: none;
    border-radius: 0px;
    border-color:none;
}*/

/*WAS #navHome NEED TO CHANE IN OTHER FILES*/
#bs-example-navbar-collapse-1{
  float: right;
  font-size: 18px;
  /*position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;*/
}
/*.nav>li {
  position: relative;
  display: inline;
}*/

#navUl{
  text-decoration: none !important;
  padding-top:10px;
}

.homeBarli{
  display: inline;
}

li a{
    text-decoration: none !important;
    color: rgb(93,104,106) !important;
}

#homeHome{
  margin-right:50px;
}

#resumeHome{
  margin-right:50px;
}

#aboutHome{
  margin-right: 50px;
}

.clearFix:before, .clearFix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
