/*Other Header*/

header{
  background-color: rgba(207,208,203, 0.3);
}

/*NAV NAV NAV NAV NAV NAV */
/*nav{
  height: 50px;
}*/
#navHome{
  float: right;
  font-size: 18px;
  /*font-family: 'Cabin', sans-serif;*/
}
#navUl{
  text-decoration: none !important;
  padding-top:10px;
}

.homeBarli{
  display: inline;
}

li a{
    text-decoration: none !important;
    color: rgb(93,104,106) !important;
}

#homeHome{
  margin-right:50px;
}

#resumeHome{
  margin-right:50px;
}

#aboutHome{
  margin-right: 50px;
}

.clearFix:before, .clearFix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
