
/*LIGHT GREY BARS EMPHASISZING INSIGHTS*/
.statement{
  font-size: 40px;
  text-align: center;
  color:rgb(01, 161, 167);
  background:rgb(246,243,246);
  margin-top: 3%;
  margin-bottom: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.statmentOrange{
  color:rgb(221, 98, 92);
}

/*strategy*/
.processSectionTitle{
  width:100%;
  height:100px;
  color:white;
  background-color: rgb(74, 74, 74);
  margin-top: 3%;
  padding-left:7%;
  font-size: 30px;
  padding-top: 3%;
  margin-bottom: 3%;
}

/*UP TEXT SECTION AT BOTTOM OF PORTFOLIO*/
.nextPort{
  font-size:18px;
  text-align: right;
}

.arrowAndText{
  display:inline-block;
}

.arrowPort{
  width: 25px;
}

.processSectionTitleUpNext{
  padding-left: 3%;
  height:110px;
  text-align: left;
}

/*tier 5 only*/
/*@media screen (max-device-width: 768px) {
  .processSectionTitleUpNextTier{
      margin-left: 50%;
  }
  .nextPortTier{
    padding-left:50%;
  }
}*/
