html{
overflow-x: hidden;
}

/*bootstrap fix*/
.footRow{
  margin:0;
}


/*webMD*/
#catburrito{
  width:70%;
  text-align: center;
}

.catBurritoSecretDoor{
  color:inherit;
  text-decoration: none;
  border: 0 none;
  border-color: transparent;
}

a.catBurritoSecretDoor:link { text-decoration: none; }
a.catBurritoSecretDoor:visited { text-decoration: none; }
a.catBurritoSecretDoor:hover { text-decoration: none; }
a.catBurritoSecretDoor:hover { color: inherit; }
a.catBurritoSecretDoor:hover { cursor: text; }
a.catBurritoSecretDoor:active { text-decoration: none; }

/*a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}*/


/*Beuty Cures*/
#spaMask{
  width:70%;
  text-align: center;
  margin-bottom: 2%;
}
/*Emoji LIbs*/
#emoji{
  width:80%;
  text-align: center;
}

.changeBack, h2{
  font-size: 36px;
  text-align:center;
}
.emojiFix{
padding-left: 5%;
padding-right:5%;
}

#content{
margin-top: 3%;
text-align: center;
}

.source{
  text-align: left;
  display: block;
  margin-left: 15%;
}

.comingSoon{
  width:100%;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  background-color: rgba(119,140,147, 0.4);
  text-align: center;
  margin-top: 3%;
  margin-bottom: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.des{
  color:rgb(74, 74, 74);
}

@media screen and (max-width:767px){
  .floatLeft{
    float: left;
    text-align: left;
  }
}
