
/*GET COLORING UNDER THE HEADER AND HEADER*/
#header{
  z-index: 2;
}

#projectTitleBox{
  height:auto;
  left: 0;
  right: 0;
  z-index: -2;
  margin-top: -10%;
  width: 100%;
  height:400px;
  text-align: center;
}

.projectTitleSize{
  text-align: center;
  font-size: 30px;
}

#projectTitle{
  color: white;
  /*color: rgb(236,233,226);*/
}

.titleBackground{
  background-color: rgb(01,161,167);
  }

.projectLogo{
  width:250px;
  padding-top:45%;
  }

  /*HOVER HULA*/

  .container {
    /*position: relative;*/
    /*margin: 30px;*/
    /*height: 250px;*/
    width: 250px;
    text-align: center;
    display:inline-block;
    padding-top:1%;
  }

.image-swap img:last-child{display:none}
.image-swap:hover img:first-child{display:none}
.image-swap:hover img:last-child{display:inline-block}

/*INTRODUCTION*/
.introBoxes{
  text-align: center;
  margin-top: 2%;
}

.introBox{
  display:inline-block;
  width:320px;
  height:320px;
  float:none;
}

.boxTitle{
  color: white;
  text-align: left;
  font-size: 24px;
  color: rgb(221, 98, 92);
}

.boxText{
color: rgb(93,104,106);
text-align: left;
}

/*OUR PROCESS*/
.ourProcessTitle{
  font-size: 30px;
  text-align: center;
  margin-top:2%;
  margin-bottom: 2%;
}

.processCircleDiv{
text-align: center;
}

.processCircle{
width:125px;
height:125px;
border-radius:50%;
background: rgb(01,161,167);
color: white;
position:relative;
}

.process{
display:inline-block;
}

.arrow{
  width:75px;
  padding-bottom: 100px;
}

.circleText{
  position:absolute;
  width:100%;
}

.twoLine{
  padding-top: 30px;
}

.oneLine{
  padding-top: 40px;
}

/*STRATEGY SECTION: approach*/
.ourApproachTitle{
font-size: 30px;
text-align: center;
margin-bottom: 3%;
font-weight: bold;
}

.approach{
  text-align: center;
}

@media (max-width: 634px) {
  .approachSections{
    width:2%;
  }
  .approach{
    text-align: left;
  }
  .approachNumber{
    padding-left:20px;
  }
}

.approachCircle{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color: rgb(221,98,92);
  color:white;
  position:relative;
  vertical-align: top;
  /*margin-right: 2%;*/
  margin-bottom: 45px;
}

.approachNumbers{
  display: inline-block;
  vertical-align: top;
  margin-right:5px;
}

.approachCircle1{
  margin-top: -7px;
}
.approachCircle2{
  margin-top: 55px;

}
.approachCircle3{
  margin-top: 50px;
}
.approachCircle4{
  margin-top: -15px;
}

.approachNumber{
  position:absolute;
  width:100%;
  font-size: 24px;
  top:0;
  padding-top: 12%;

}



.approachSections{

  display: inline-block;
}
/*.approachCircle, .approachText{
  display:inline-block;
}*/

.approachText{
text-align: left;
/*margin-top: 0.5%;*/
width:550px;
}

.approachPoints{
font-size: 24px;
}


/*STRATEGY:FUNNEL SECTION*/

.funnelLogos{
  text-align: center;
  padding-top: 2%;
}



.competitorLogos{
  width:250px;
  display: inline-block;
}

.cContact, .lNexus{
    width:300px;
}


.logoRow{
  padding-bottom:1%;
}

.funnel{
  text-align: center;
  width: 300px;
}
/*STRATEGY:Competitor Table*/

.compTable{
  width:80%;
  margin:auto;
  margin-top:5%;
  /*overflow-x: scroll;*/
}
table{
  border-top: 0px !important;
}

.compTableTitle{
  font-size: 40px;
  text-align: center;
  color:rgb(01, 161, 167);
  background:rgb(234,231,231);
  margin-bottom: 4%;
  margin-top: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.compTableBar{
  background-color: rgb(01, 161, 167);
  color:white;
  text-align: center;
}
.compTableText{
  vertical-align: top;
  color:rgb(74, 74, 74);
}

th{
  text-align: center;
}

.leftSideTitles{
background-color: rgb(01, 161, 167);
color:white;
padding-left: 1%;
padding-right:1%;
}

.weakLine{
  border-top:solid 1px rgb(74, 74, 74);
}
.weakColor{
background-color:rgb(246, 243, 246);
}

.weakLineTop{
  border-top:solid 1px white;
}

td{
width:150px;
font-size: 16px;
}

.competitorTableLogos{
  width:110px;
  vertical-align: bottom;
}
.zoomTableLogo{
  width:75px;
}

.tierTableLogo{
  width:90px;
}

.insideTableLogo {
width:75px;
}

.cost{
  list-style-type: none;
}
.costPerLead{
  border-bottom: 1px solid rgb(221, 221, 221);
}

.features{
  text-align: center;
}

.featureCompImg{
  width:70%;
}

/*THE RECOMMENDATION CIRCLES*/

.circleRecWrapper{
  text-align: center;
}

.recCircle{
width:225px;
height:225px;
border-radius:50%;
border: solid 3px rgb(221,98,92);
color: rgb(74, 84, 74);
display:inline-block;
margin-left: 2%;
position:relative;
}

.circleRecText{
  font-size: 18px;
  position:absolute;
  width:100%;
  padding-top:25%;
  padding-left:5%;
  padding-right:5%;
}
/*PIE SECTION*/
.pieIntro{
  text-align: center;
  margin-top:3%;
  /*margin-bottom: 3%;*/
}

.pieIntroSec{
  font-size: 20px;
  display: inline-block;
  text-align:center;
}
.pies{
  vertical-align:top;
}
.pieItem{
  width:200px;
  text-align: center;
  margin-bottom: 3%;
}

.pieItem25{
  width:100px;
  padding-top: 10%;
}

.pieIntroSubTitle{
  font-weight: bold;
  font-size: 18px;
}
.pieText{
  font-size: 16px;
}

.operators{
padding-top: 175px;
}



.pieSign{
  width:50px;
}

@media (max-width: 414px) {
  .pieEqual{
    padding-top: 0px;
  }
}


/*INTERVIEW & SURVERY SECTION*/

.surveyAndInterview{
  margin-bottom: 3%;
}
.researchPeepsContainer{
  text-align: center;
}

.peepsStats{
  text-align: left;
  vertical-align: top;
  font-size: 20px;
}
.researchInline{
    display:inline-block;
}

.researchNumbers{
  font-size: 20px;
}

.peeps{
  width:75px;
  vertical-align: bottom;
  /*margin-top:1%;*/
  margin-right: 2%;
  margin-bottom: 2%;
}
.topPeep{
  padding-bottom: 3%;
}

.width{
  width: 200px;
}
 .researchDes{
   width: 450px;
   text-align: left;
   vertical-align: top;
 }

/*CIRCLES AND TRIANGLES*/
.titleP{
font-size: 20px;
font-weight: bold;
text-align: center;
}

.researchCirTri{
  text-align: center;
  margin 0 auto;
}

.researchCircles {
  display:inline-block;
  /*width: 550px;*/
  vertical-align: top;
}
/*set width???*/
.circles3{
  width:400px;
}

.researchCircles{
    margin-bottom: 3%;
    display:inline-block;
}

/*TRIAGLES*/
.researchTriangles{
  display:inline-block;
  text-align: center;
  margin-top:0.5%;
}

.triangleText{
  text-align: left;
  width:400px;
  font-size: 20px;
  font-weight: bold;
}

.triangleTextImg{
  width:400px;
}
.triangleSectionDivs{
  text-align: center;
}

/*BRAIN */
.brainBackground{
  text-align: center;
}

.brain{
  padding-top:3%;
  padding-bottom: 3%;
  width: 80%;
}

/*INTERVIEW COMMENTS*/

.squareRec{
  margin:5%;
}

.rec {
  width: 185px;
  height: 120px;
  color:rgb(74, 74, 74);
  text-align: left;
  padding:5%;
  text-align:left;
}

.rec1{
  background-color: rgb(214,245, 242);
}

.rec2{
  background-color: rgb(246,243,246);
}

.rec3{

  background-color: rgb(137,229,223);
}

.rec4{
  background-color: rgb(74, 74, 74);
  color:white;
}

.rec5{
  background-color: rgb(01,161,167);
  color:white;
}

.square{
  width: 185px;
  height: 150px;
  text-align: center;
  padding: 5%;
  margin-bottom: 10%;
}

.recPaddimg{
  padding-right:2%;
}

.squareRec{
  text-align: center;
}

.squareRecSec{
  display: inline-block;
  margin-bottom: 4%;
}

.faceCircles{
  width:75px;
}

/*THE LINE CONNECTED TO CIRCLE*/
.findingsCircle1{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: rgb(221,98,92);
  z-index: 2;
  vertical-align: top;
  display: inline-block;
  margin-right:2%;
}

.findingsCircle {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-top: 50px;
  background-color: rgb(221,98,92);
  z-index: 2;
  vertical-align: top;
  display: inline-block;
  margin-right:2%;
}

.findingsCircle:first-child {
  margin-top: 0;
}

.findingsCircle:after{
  position: absolute;
  background-color: rgb(221,98,92);
  width: 5px;
  height: 200%;
  display: block;
  content: '';
  left: 50%;
  z-index: 1;
  top: -54px;
  margin-left: -1px;
}

.findingsCircle:first-child:before {
  display: none;
}

.findings{
  text-align: center;
  margin-bottom: 2%;
}
.bold700{
/*font-family: 'Lora', serif;*/
font-weight: 700;
}

.findingsText{
  text-align: left;
  display: inline-block;
  width:80%;
  /*margin-bottom: 2%;*/
}

 /*font-family: 'Metrophobic', Arial, serif;
 font-weight: 400;*/

/*SYNTHESIS SECTION*/
/*JOURNEY MAP*/

.centerJMap{
  text-align: center;
}
.journeyTitle{
  font-size: 30px;
  /*margin-left: 7%;*/
  margin-bottom: 2%;
}

.journeyMap{
  width:70%;
/*margin-left: 7%;*/
}

/*PERSONAS*/
.personaAjayBrad{
  display:inline-block;
  font-size: 16px;
  text-align: center;
}
.row{
margin-left:0;
margin-right:0;
}

/*lines around personas*/
/*CHECK THIS COLOR*/
/*.squaresPersonas{
  text-align: center;
  border: 1px solid rgb(201,210,210);
  display:inline-block;
  padding-top: 2%;
  padding-bottom: 2%;
  width:100%;
}*/

/*Title for personas*/

table{
  display:inline-block;
}

.personaParent{
}

.personaTypes{
  font-size: 24px;
  font-weight: bold;
}

.textBoxName{
text-align: left;
margin: 5px;
}

.ajayName{
  background-color: rgb(01, 161, 167);
  color:white;
}

.textBoxQuote{
  width:115px;
  height:175px;
  margin: 5px;
  vertical-align: top;
  font-style: italic;
}

.boxTitles{
  font-weight: bold;
}
.padding{
  padding-top: 2%;
  padding-left:2%;
  padding-right: 2%;
}

.textBoxQuoteAjay{
background-color: rgb(213,245,242);
padding-top: 5%;
}
.textBoxQuoteBrad{
  background-color: rgb(248,216,213);
  padding-top: 3%;
}

.textBoxGoals{
  width:175px;
  height:200px;
  background-color: rgb(222,225,225);
  text-align: left;
  margin: 5px;
  vertical-align: top;
}

.textBoxFrustrations{
  width:240px;
  height:200px;
  color:white;
  background-color: rgb(74, 74, 74);
  text-align: left;
  margin: 5px;
  vertical-align: top;
}

.textBoxTech{
  background-color: rgb(246, 243, 246);
  /*display:inline-block;*/
  text-align: left;
  margin: 5px;
  vertical-align: top;
  width:115px;
  height:200px;
  padding: 1%;
}

.textBoxNameBrad{
  background-color: rgb(221, 98, 92);
  color: white;
}
td{
  /*margin: 5px;*/
  border: 10px solid white;
}
.personaParent{
  text-align: center;
}

/*for comp table and personas*/

table{
  border: 20px solid white;
  text-align: center;

}

/*images*/
.brad, .ajay{
min-width:173px;
max-width:100%;
max-height:100%;
vertical-align: top;
border: 0;
}

.ajayTd{
  background-color: rgb(218, 217, 215)
}

.bradTd{
  background-color: rgb(99, 100, 94)
}
/*USER FLOW*/
.bracketDiv{
  display: block;
}
.userBracket{
  margin:3%;
  width:350px;
  margin-left: 10%;
}

.userFlowTitle{
  font-size: 24px;
  text-align: left;
  margin-left: 17%;
}

.userFlow{
  text-align: center;
}

.userFlowImg{
  width:70%;
  margin-top: -5%;
}

/*@media screen (min-width: 688px) and (max-width: 982px){
  .userBracket{
    margin-left:27%;
  }
  .userFlowTitle{
    margin-left:37%;
  }
}*/

/*SYNTHESIS: REDEFINE PROBLEM*/
.problem{
  text-align: center;
}

.problemTitle{
  font-size: 24px;
  font-weight: bold;
}

.alignGoalsTitle{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 3%;
}
.alignCircles{
  text-align: center;
}

.venn{
  width: 60%;
}

/*SYNTHESIS: TWO EXPERIENCES*/

.experiences{
  text-align: center;
}
.realTimeAndNur{
  display: inline-block;
  text-align: center;
}

.pillar{
  display: inline-block;
  height:200px
}

/*SYNTHESIS: INITIAL CONCEPTS*/
.experienceTitle{
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.experienceText{
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
.nurtureValign{
  text-align: left;
}

@media (max-width: 992px){
  .nurtureValign{
    margin-top: 3%;
  }
}
@media  (min-width: 920px) and (max-width: 1199px){
  .realTime{
    /*margin-left: 1%;*/
  }
}

.experienceSentence{
  width: 300px
}

/*DESIGN: VIDEO*/

.videoDiv{
text-align: center;
}

.iframe{
  display:inline-block;
  margin-right: 7%;
  margin-bottom: 3%;
}

.videoText{
  display:inline-block;
  width:300px;
  vertical-align: top;
  text-align: left;
}

/*DESIGN:INITAL FEATURES*/
.subTitle{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.realTimeAndNur2{
display:inline-block;
text-align: center;
}

.featureMargins{
  margin-top:3%;
  margin-bottom:3%;
}

.featuresList{
  text-align: center;
}

.featureIcon{
  width: 25px;
  /*height: 25px;*/
  display: inline-block;
  margin-right: 1%;
}

.flagIcon{
  width:15px;
  margin-right: 13px;
}

.experienceSentence2{
  display: inline-block;
  text-align: left;
}

.iconSentence{
  text-align: left;
}

/*User Testing*/

.testingCircleSec{
  text-align: center;
}

.testingCircles{
  width:100px;
  height:100px;
  border-radius:50%;
  display: inline-block;
}

.userTestingRounds{
  color:rgb(74, 74, 74);
  font-size: 24px;
  /*margin-bottom: -50px;*/
  /*z-index: 2;*/
}

/*.userTestingRounds, .circle1, .circle2, .circle3{
  position: absolute;
}*/

.circle1{
  background-color: rgb(01,161,167);
  margin-right:-20px;
}

.circle2{
  background-color: rgb(221,98,92);
    margin-right:-20px;
}

.circle3{
  background-color: rgb(74, 74, 74);
}

.prototypes{
  text-align: center;
}

.prototypeImg{
  width:250px;
  /*width:200px;*/
}

.prototypeImgDiv{
  display:inline-block;
  /*border:2px solid rgb(221,98,92);*/
  border:1px solid rgb(74, 74, 74);
  width:255px;
  /*width:205px;*/
  height:275px;
  /*height:220px;*/
  vertical-align: top;
  margin:15px;
}

/*PAPER PROTOTYPES*/
.paperPrototypes{
  text-align: center;
}

.paperProtoDiv{
  font-size: 18px;
  display: inline-block;
  margin: 2%;
}

.paperProtoImg{
  width:300px;
  height:400px;
}

.top3Bottom3{
  display:block;
  text-align: center;
}

.feedbackParent{
display: inline-block;
margin:2%;
}

.testingFeedback{
  width: 200px;
  height: 120px;
  padding:5%;
  color: white;
}

.experienceBox{
  text-align: center;
}

.feedbackP{
  display:inline-block;
  color:rgb(74,74,74);
  width:200px;
  /*height:250px;*/
  vertical-align: top;
}
.feedbackParentGreen{
  background-color: rgb(01, 161, 167);
  color: white;
}

.feedbackParentOrange{
  background-color: rgb(221,98,92);
  color: white;
}

.feedbackParentCharcol{
 background-color: rgb(74,74,74);
 color: white;
}

.feedbackParentLightGreen{
  background-color: rgb(212,245,242);
  color: rgb(74,74,74);
}
.feedbackParentLightOrange{
  background-color: rgb(249,216,212);
  color: rgb(74,74,74);
}

/*DESIGN:
Usability testing findings*/
.findings2PParent{
  text-align: center;
  margin:5%;
}

.findings2P{
  display: inline-block;
  text-align: left;
  /*width:40%;*/
  /*width:375px;*/
  vertical-align: top;
  /*margin:1%;*/
}

/*DESIGN:
DESIGN DECISIONS*/

.designDecisions{
  text-align: center;
}

.decCircle{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color: rgb(01, 161,167);
  color:white;
  position:relative;
  vertical-align: top;
  margin-right: 2%;
  display: inline-block;
  font-size:26px;
  padding-top:7px;
}

.decText{
  text-align: left;
  width:650px;
  display: inline-block;
}

.decPoints{
font-size: 24px;
font-weight: bold;
}

/*BUILD AND DELIVER:
Before and After*/

.buildText{
  width:90%;
  margin:0 auto;
}

.comparisons{
  text-align: center;
}

.comparisonTitle{
  text-align: center;
  font-size: 24px;
  margin-left: 5%;
}

.formerFilter{
  margin-left:33%;
}

.filter{
margin-left: 27%;
}

.comparisonTitle2{
  margin-left:10%;
}

.listView{
    display: inline-block;
    vertical-align: top;
    padding:2%;
}

.listViewImg{
  width:500px;
}

/*BUILD: Prototype*/
.prototypeLink{
  text-decoration: underline;
  text-align: center;
  font-size: 24px;
}

/*BUILD: logo redesign*/

.logoSecParent, .logoSec{
  text-align: center;
}

.logoWithText{
  display: inline-block;
  padding: 5%;
  vertical-align: bottom;
}

.logoTitle{
  font-weight: bold;
  font-size: 24px;

}

.octoLogo{
  width:200px;
}
.octoLogoNew{
  width:232px;
}
.octoLogoNew2{
  width:250px;
}


/*NEXT STEPS*/
.arrowContainer{
  /*text-align: center;*/
}

.nextStepsArrow{
  width:1200px;
}

.stepsParent{
  text-align: center;
  margin:-15px 0 0 0;
  width:90%;
}

.stepsSec{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin:15px;
}

.recTop{
  width:300px;
  height:50px;
  background-color: rgb(241, 238, 238);
  vertical-align: middle;
  font-size: 20px;
  padding: 9px 0;
}
.phase{
  width:75px;
  height:75px;
  border-radius: 50%;
  border: solid 2px rgb(01, 161, 167);
  vertical-align: middle;
  /*text-align: center;*/
  font-size: 24px;
  margin: 2% auto;
  padding-top: 18px;
}

.phaseText{
text-align: left;
width:300px;
}
