
/*GET COLORING UNDER THE HEADER AND HEADER*/
#header{
  z-index: 2;
}

#projectTitleBox{
  height:auto;
  left: 0;
  right: 0;
  z-index: -2;
  margin-top: -10%;
  width: 100%;
  height:400px;
  text-align: center;
}

.container {
  position: relative;
  /*margin: 30px;*/
  /*height: 250px;*/
  width: 250px;
  text-align: center;
  display:inline-block;
  padding-top:1%;
}

.projectTitleSize{
  text-align: center;
  font-size: 30px;
}

#projectTitle{
  color: white;
  /*color: rgb(236,233,226);*/
}

.titleBackground{
  background-color: rgb(01,161,167);
  }

.projectLogo{
  width:250px;
  padding-top:45%;
  }

  /*HOVER HULA*/

.image-swap img:last-child{display:none}
.image-swap:hover img:first-child{display:none}
.image-swap:hover img:last-child{display:inline-block}

/*INTRODUCTION*/
.introBoxes{
  text-align: center;
  margin-top: 2%;
}

.introBox{
  display:inline-block;
  width:320px;
  height:320px;
  /*background-color: rgb(221, 98, 92);*/
  /*border: solid 3px rgb(219,99,95);*/
  /*height:300px;*/
  /*padding-left: 2%;
  padding-right: 2%;
  padding-bottom:2%;*/
}

.introBox1{
  margin-right: 5%
}

.boxTitle{
  color: white;
  text-align: left;
  font-size: 24px;
  color: rgb(221, 98, 92);
}

.boxText{
color: rgb(93,104,106);
text-align: left;
}

/*OUR PROCESS*/
.ourProcessTitle{
  font-size: 30px;
  text-align: center;
}

.processCircleDiv{
text-align: center;
height:125px;
margin-top: 2%;
}

.processCircle{
width:125px;
height:125px;
border-radius:50%;
background: rgb(01,161,167);
color: white;
position:relative;
}

.process{
display:inline-block;
}
.arrow{
  width:75px;
  margin-bottom: 10%;
}

.circleText{
  position:absolute;
  width:100%;
}

.stratDesCircle{
padding-top:4.5%;
}

.researchCircle{
  padding-top: 3.5%;
}

.buildCircle{
  padding-top:3.5%
}

/*STRATEGY SECTION*/
/*title bar*/
.processSectionTitle{
  width:100%;
  height:100px;
  color:white;
  background-color: rgb(74, 74, 74);
  margin-top: 3%;
  padding-left: 7%;
  font-size: 30px;
  padding-top: 3%;
  margin-bottom: 3%;
}
/*STRATEGY SECTION: approach*/
.ourApproachTitle{
font-size: 30px;
text-align: center;
}

.approachCircle{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color: rgb(221,98,92);
  /*color: rgb(74,74,74);*/
  color:white;
  position:relative;
  vertical-align: top;
  margin-right: 2%;
}

/*.approach{
  text-align: center;
}*/

.approachNumber{
  position:absolute;
  width:100%;
  font-size: 24px;
  top:0;
  padding-top: 12%;

}
.approach1{
  margin-top: 1%;
}
.approachSections{
  text-align: center;
}
.approachCircle, .approachText{
  display:inline-block;
}

.approachText{
text-align: left;
margin-top: 0.5%;
width:550px;
}
.approachPoints{
font-size: 24px;
}
/*STRATEGY:FUNNEL SECTION*/

.funnelLogos{
  text-align: center;
  padding-top: 2%;
}

.statement{
  font-size: 40px;
  text-align: center;
  color:rgb(01, 161, 167);
  background:rgb(246,243,246);
  margin-top: 4%;
  margin-bottom: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.statmentOrange{
  color:rgb(221, 98, 92);
}

.competitorLogos{
  width:250px;
  display: inline-block;
}

.cContact, .lNexus{
    width:300px;
}


.logoRow{
  padding-bottom:1%;
}

.funnel{
  text-align: center;
  width: 300px;
}
/*STRATEGY:Competitor Table*/

.compTable{
  width:720px;
  margin:auto;
  margin-top:5%;
}
.compTableTitle{
  font-size: 40px;
  text-align: center;
  color:rgb(01, 161, 167);
  /*font-weight: bold;*/
  background:rgb(234,231,231);
  margin-bottom: 4%;
  margin-top: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.compTableBar{
  background-color: rgb(01, 161, 167);
  color:white;
  text-align: center;
}
.compTableText{
  vertical-align: top;
  color:rgb(74, 74, 74);
}

th{
  text-align: center;
}

.leftSideTitles{
background-color: rgb(01, 161, 167);
color:white;
padding-left: 1%;
padding-right:1%;
/*vertical-align: top;*/
}

.weakLine{
  border-top:solid 1px rgb(74, 74, 74);
}
.weakColor{
background-color:rgb(246, 243, 246);
}

.weakLineTop{
  border-top:solid 1px white;
}

td{
width:150px;
font-size: 16px;
}

.competitorTableLogos{
  width:110px;
  vertical-align: bottom;
}
.zoomTableLogo{
  width:75px;
}

.tierTableLogo{
  width:90px;
}

.insideTableLogo {
width:75px;
}

.cost{
  list-style-type: none;
}

.features{
  text-align: center;
  /*width:700px;*/
}
.featureCompetition{
  width:600px;
}

/*THE RECOMMENDATION CIRCLES*/

.recCircle{
width:220px;
height:220px;
border-radius:50%;
border: solid 3px rgb(221,98,92);
color: rgb(74, 84, 74);
display:inline-block;
margin-left: 2%;
position:relative;
}

.circleRecWrapper{
  text-align: center;
}

.circleRecText{
  font-size: 18px;
  position:absolute;
  width:100%;
  padding-top:25%;
  padding-left: 2%;
  padding-right:2%;
}
/*PIE SECTION*/
.pieIntro{
  text-align: center;
  margin-top:3%;
  margin-bottom: 3%;
}

.pies{
  text-align: center;
}

.pieItem{
  display:inline-block;
}

.pieIntroSec{
  font-size: 20px;
  display: inline-block;
  vertical-align:top;
  margin-right: 2%;
  text-align:left;
}

.pieIntroSubTitle{
  font-weight: bold;
  font-size: 18px;
}
.pieText{
    font-size: 16px;
}

.pieItem25{
  margin-left: -10%;
  width:100px;
}

.pieItem75{
margin-left: -13%;
}

.pieItem100{
  margin-left: 4%;
}
.pieItemBig{
  width: 200px;
}

.pieSign{
  width:50px;
}

.piePlus{
  margin-left:7%;
  margin-right:4%;
}

.pieEqual{
  margin-right:0%;
  margin-left:5%;
}

/*INTERVIEW & SURVERY SECTION*/

.surveyAndInterview{
  margin-bottom: 3%;
}
.researchPeepsContainer{
  text-align: center;
}

.peepsStats{
  text-align: left;
  vertical-align: top;
  font-size: 20px;
}
.researchInline{
    display:inline-block;
}

.researchNumbers{
  font-size: 20px;
}

.peeps{
  width:75px;
  vertical-align: bottom;
  /*margin-top:1%;*/
  margin-right: 2%;
  margin-bottom: 2%;
}
.topPeep{
  padding-bottom: 3%;
}

.width{
  width: 200px;
}
 .researchDes{
   width: 450px;
   text-align: left;
   vertical-align: top;
 }

/*CIRCLES AND TRIANGLES*/

.titleP{
font-size: 20px;
font-weight: bold;
}

.researchCirTri{
  text-align: center;
}

.researchCircles, {
  display:inline-block;
  /*width: 550px;*/
  vertical-align: top;
}

.circles3{
  width:450px;
}

.researchCircles{
    margin-right: 5%;
    display:inline-block;
}

/*TRIAGLES*/
.researchTriangles{
  width: 450px;
  vertical-align: top;
  display:inline-block;
}
.triangleSection{
  text-align: left;
}

.triangle{
  width:100px;
  /*vertical-align: bottom;*/
  display:inline-block;
text-align: right;
  /*text-align: right;*/
}

.triangleText{
  display:inline-block;
  width:350px;
}

/*BRAIN */
.brainBackground{
  /*background-color:rgb(234,231,231);*/
  /*background-color:rgb(197, 240, 236);*/
  text-align: center;
}

.brain{
  /*width:900px;*/
  padding-left: 5%;
  padding-right:5%;
  padding-top:3%;
  /*padding-bottom: 3%;*/
  width: 960px;
}

/*INTERVIEW COMMENTS*/

.squareRec{
  margin:5%;
}

.rec {
  width: 185px;
  height: 120px;
  color:rgb(74, 74, 74);
  text-align: left;
  padding:5%;
  text-align:left;
}

.rec1{
  background-color: rgb(214,245, 242);
}

.rec2{
  background-color: rgb(246,243,246);
}

.rec3{

  background-color: rgb(137,229,223);
}

.rec4{
  background-color: rgb(74, 74, 74);
  color:white;
}

.rec5{
  background-color: rgb(01,161,167);
  color:white;
}

.square{
  width: 185px;
  height: 150px;
  text-align: center;
  padding: 5%;
  margin-bottom: 10%;
}

.recPaddimg{
  padding-right:2%;
}

.squareRec{
  text-align: center;
}

.squareRecSec{
  display: inline-block;
}

.faceCircles{
  width:75px;
}

/*THE LINE CONNECTED TO CIRCLE*/
.findingsCircle1{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: rgb(221,98,92);
  z-index: 2;
  vertical-align: top;
  display: inline-block;
  margin-right:2%;
}


.findingsCircle {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-top: 50px;
  background-color: rgb(221,98,92);
  z-index: 2;
  vertical-align: top;
  display: inline-block;
  margin-right:2%;
}

.findingsCircle:first-child {
  margin-top: 0;
}

.findingsCircle:after{
  position: absolute;
  background-color: rgb(221,98,92);
  width: 5px;
  height: 70px;
  display: block;
  content: '';
  left: 50%;
  z-index: 1;
  top: -54px;
  margin-left: -1px;
}

.findingsCircle:first-child:before {
  display: none;
}

.findings{
  text-align: center;
  margin-bottom: 2%;
}

.findingsText{
  text-align: left;
  display: inline-block;
  width:850px;
  /*margin-bottom: 2%;*/
}

/*SYNTHESIS SECTION*/
/*JOURNEY MAP*/

.centerJMap{
  text-align: center;
}
.journeyTitle{
  font-size: 30px;
  /*margin-left: 7%;*/
  margin-bottom: 2%;
}

.journeyMap{
  width:960px;
/*margin-left: 7%;*/
}

/*PERSONAS*/
.personaAjayBrad{
  display:inline-block;
  font-size: 16px;
  text-align: center;
}

.squaresPersonas{
  text-align: center;
  /*CHECK THIS COLOR*/
  border: 3px solid rgb(201,210,210);
  display:inline-block;
  margin: 0.5%;
  width:100%;
}

.personaTypes{
  font-size: 24px;
  margin-left: 7%;
}

.brad, .ajay{
width:150px;
height:150px;
display:inline-block;
margin: 5px;
vertical-align: top;
}

.textBoxName{
width:200px;
height:150px;
display:inline-block;
text-align: left;
margin: 5px;
}

.ajayName{
  background-color: rgb(01, 161, 167);
  color:white;
}

.textBoxQuote{
  width:100px;
  height:150px;
  display:inline-block;
  margin: 5px;
  vertical-align: top;
}

.textBoxQuoteAjay{
background-color: rgb(213,245,242);
}

.textBoxGoals{
  width:150px;
  height:100px;
  background-color: rgb(201,210,210);
  display:inline-block;
  text-align: left;
  margin: 5px;
  vertical-align: top;
}

.textBoxFrustrations{
  width:200px;
  height:100px;
  color:white;
  background-color: rgb(74, 74, 74);
  display:inline-block;
  text-align: left;
  margin: 5px;
  vertical-align: top;
}

.textBoxTech{
  width:100px;
  height:100px;
  background-color: rgb(246, 243, 246);
  display:inline-block;
  text-align: left;
  margin: 5px;
  vertical-align: top;
}

.textBoxNameBrad{
  background-color: rgb(221, 98, 92);
  color: white;
}

.textBoxQuoteBrad{
  background-color: rgb(230,140,135);
}

/*USER FLOW*/
.userFlowTitle{
  font-size: 24px;
  text-align: left;
  margin-left: 20%;
}
.userBracket{
  margin:3%;
  width:400px;
  margin-left: 12%;
}

.userFlow{
  text-align: center;
}

.userFlowImg{
  width:800px;
  margin-top: -5%;
}

/*SYNTHESIS: REDEFINE PROBLEM*/
.problem{
  text-align: center;
}

.problemTitle{
  font-size: 24px;
  font-weight: bold;
}

.alignGoalsTitle{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 3%;
}
.alignCircles{
  text-align: center;
}

.venn{
  width: 800px;
}

/*SYNTHESIS: TWO EXPERIENCES*/

.experiences{
  text-align: center;
  /*width:900px;*/
}
.realTimeAndNur{
  display: inline;
}

.realTime{
  margin-right: 7%;
}

.pillar{
  display: inline-block;
  height:200px;
}
.experienceTitle{
  font-size: 24px;
  font-weight: bold;
}

.experienceText{
  text-align: left;
  display: inline-block;
}

.nurtureValign{
  vertical-align: top;
}

.experienceSentence{
  width: 300px;
}

/*DESIGN: VIDEO*/

.videoDiv{
text-align: center;
}

.iframe{
  /*width:500px;
  height:400px;*/
  display:inline-block;
  /*margin-left: 7%;*/
  margin-right: 7%;
}

.videoText{
  display:inline-block;
  width:300px;
  vertical-align: top;
  text-align: left;
}

/*DESIGN:INITAL FEATURES*/

.subTitle{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.realTimeAndNur2{
  display:inline-block;
}

.featureMargins{
  margin-top:3%;
  margin-bottom:3%;
}

.features{
  text-align: center;
}

.featureIcon{
  width: 25px;
  display: inline-block;
  margin-right: 1%;
}

.flagIcon{
  width:15px;
}

.experienceSentence2{
  display: inline-block;
  text-align: left;
}

.iconSentence{
  text-align: left;
}
