/*HEADER BLOCK*/
/*see project.css*/

/*INTRODUCTION*/
/*see project.css*/

.projectLogoWebmd{
  width:260px;
  height: 300px;
  }

  .projectTitle{
    font-size: 30px;
    text-align: left;
    /*padding-top:20%;*/
    /*margin-top: 20%;*/
    /*padding-bottom: -30%;*/
    /*vertical-align: middle;*/
  }

  .projectSubTitle{
    text-align: left;
    font-size:24px;
    width: 500px;
    color:white;
  }
  .projectTitleBox{
    text-align:left;
    -moz-text-align: left;
  }

  .logoAndTitleContainer{
    margin-left: 15%;
    padding-top:11%;
  }

.webmdLogoAndTitle{
  display: inline-block;
}

/*OUR PROCESS*/
  .processCircle{
  background-color: rgb(55,147,195);
}

/*APPROACH SECTION*/
/*see project.css*/
.approachCircle{
    background-color: rgb(55,147,195);
}

/*STRATEGY*/
/*SWOT*/

.strategy{
  margin-top: 0%;
}

.swotFly{
  width:175px;
  margin-top: -17%;
  margin-left: 7%;
}

.swot{
  text-align: center;
}

.swotTitle{
  font-size: 30px;
}

.swotRec{
  width: 450px;
  height:270px;
  color: white;
  text-align: left;
  margin: 1%;
  padding: 2%;
  vertical-align: top;
}

.strengthWeak, .oppThreats{
  display: inline-block;
}


/*STRATEGY
MARKET DIVERSE AND FRAGMENTED*/
.compDiv{
  text-align: center;
}

.compShots{
  width:90%;
  margin:0 auto;
}

.compBracket{
  margin:0 auto;
  width:400px;
  margin-top: 3%;
}

/*THE RECOMMENDATION CIRCLES*/
/*see project.css*/
.circleRecWrapper{
  text-align: center;
}

.recCircle{
width:240px;
height:240px;
border-radius:50%;
border: solid 3px rgb(55,147,195);
color: rgb(74, 74, 74);
display:inline-block;
margin-left: 2%;
position:relative;
}

.circleRecText{
  font-size: 18px;
  position:absolute;
  width:100%;
  padding-top:20%;
  padding-left:7%;
  padding-right:7%;
}

/*RESEARCH*/
/*INTERVIEW & SURVERY SECTION*/
/*Introduction to research section*/
.researchSummaryDiv{
  text-align: center;
}

.researchSummary{
  width:80%;
}

/*survey results section*/
/*INITAL SURVEY AND INTERVIEW RESULTS*/
.surveyResultsP{
  text-align: left;
  width: 80%;
  margin:0 auto;
}

.surveyResults{
  width:100%;
  text-align: center;
}

.surveyResultsSec{
  text-align: center;
  width:100%;
}

.surveyConclusion{
  width:300px;
  height:300px;
  border-radius: 50%;
  display: inline-block;
  margin:5%;
  /*margin-left: -10%;*/
  font-size: 30px;
  vertical-align: middle;
}

/*.surveyConclusionFix{
  height:178px;
}*/

.surveyCircles{
  display: inline-block;
  vertical-align: middle;
}

.surveyCirclesImg{
    width:450px;
}

.surveyQuotes{
  display: inline-block;
  text-align: right;
  width:450px;
  vertical-align: middle;
}

.quote2{
  margin-top: 5%;
}

.surveyConclusionText{
  /*vertical-align: middle;*/
  margin-top: 35%;
  color: white;
}

/*.surveyConclusion2{
  margin-left:15%;
}*/

/*other interview insights*/
/*.surveyAndInterview{
  margin-bottom: 3%;
}*/
.researchPeepsContainer{
  text-align: center;
}

.peepsStats{
  text-align: left;
  vertical-align: top;
  font-size: 20px;
}
.researchInline{
    display:inline-block;
}

.researchNumbers{
  font-size: 24px;
}

.peeps{
  width:75px;
  vertical-align: bottom;
  margin-right: 2%;
  margin-bottom: 2%;
}

.topPeep{
  padding-bottom: 3%;
}

.width{
  width: 200px;
}

.researchDes{
   width: 80%;
    /*width: 450px;*/
   text-align: left;
   vertical-align: top;
}

/*INTERVIEW COMMENTS*/
.squareRecSec{
  display: inline-block;
  /*margin-bottom: 5%;*/
  vertical-align: top;
}



.rec {
  width: 200px;
  height: 70px;
  color:rgb(74, 74, 74);
  text-align: left;
  padding:5%;
  text-align:left;
}

.recPaddimg{
  padding:2%;
}

.square{
  width: 200px;
  /*height: 300px;*/
  text-align: center;
  padding: 3%;
  /*margin-bottom: 10%;*/
}
.squareRec{
  /*margin:3%;*/
  text-align: center;
}

.faceCircles{
  width:200px;
}

/*THE LINE CONNECTED TO CIRCLE*/

.findingsCircle:after{
  background-color: rgb(169,204,96);
}

/*SYNTHESIS SECTION*/
/*JOURNEY MAP*/

.centerJMap{
  text-align: center;
}
.journeyTitle{
  font-size: 30px;
  margin-bottom: 2%;
}

.journeyMap{
  width:70%;
}

/*PERSONAS*/


/*SYNTHESIS: REDEFINE PROBLEM*/


/*see design decisons below for circle/number code*/

.alignGoalsTitle{
  font-size: 30px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
}
.alignCircles{
  text-align: center;
}

.venn{
  width: 60%;
}

/*SYNTHESIS:
TWO EXPERIENCES*/
.experiences{
  text-align: center;
}

.realTimeAndNur{
  display: inline-block;
  text-align: center;
}

.experienceText{
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
.pillar{
  display: inline-block;
  height:200px;
}

.experienceTitle{
  font-size: 30px;
  text-align: left;
}

.experienceSentence{
  width: 300px
}

@media (max-width: 767px){
  .realTimeAndNur{
    margin-top: 3%;
  }
}

/*DESIGN: VIDEO*/
.videoDiv{
text-align: center;
}

.iframe{
  display:inline-block;
  text-align: center;
  margin-bottom: 3%;
}

.videoText{
  display:inline-block;
  width:300px;
  margin-left: 5%;
  vertical-align: top;
  text-align: left;
}

@media (max-width:1030px) {
  .videoDiv{
  text-align: center;
  }
  .videoText{
    width:600px;
    margin-left: 0%;
  }
}

@media (max-width:617px) {
  .videoText{
    width:370px;
    margin-left: 0%;
  }
}

/*DESIGN:INITAL FEATURES*/

/*row for bootstrap*/
.featuresList{
  text-align: center;
  margin-top: 2%;
  margin-bottom:2%;
}

.realTimeAndNur2{
  display:inline-block;
  text-align: center;
  width:402px;
  vertical-align: top;
  margin: 2%;
}

.experienceTitleIcon{
  text-align: left;
  font-size: 30px;
  text-align: left;
}

.iconSentence{
  text-align: left;
}

.experienceSentence2{
  display: inline-block;
  text-align: left;
}

.featureIcon{
  width: 25px;
  display: inline-block;
  margin-right: 2%;
}

.flagIcon{
  width:15px;
  margin-right: 13px;
}

/*User Testing*/

.testingCircleSec{
  text-align: center;
}

.testingCircles{
  width:100px;
  height:100px;
  border-radius:50%;
  display: inline-block;
}

.userTestingRounds{
  color:rgb(74, 74, 74);
  font-size: 30px;
}

.circle1{
  background-color: rgb(01,161,167);
  margin-right:-20px;
}

.circle2{
  background-color: rgb(221,98,92);
    margin-right:-20px;
}

.circle3{
  background-color: rgb(74, 74, 74);
}

.prototypes{
  text-align: center;
}

.prototypeImg{
  width:250px;
}

.prototypeImgDiv{
  display:inline-block;
  border:1px solid rgb(74, 74, 74);
  width:255px;
  height:275px;
  vertical-align: top;
  margin:15px;
}
.protoTypes{
  text-align: center;
}
.protoTypesPaper{
  margin-top:5px;
}
.protoTypesLow{
  margin-top:18px;
}

/*PAPER PROTOTYPES*/
.paperPrototypes{
  text-align: center;
}

.paperProtoDiv{
  display: inline-block;
  margin: 2%;
}

.paperProtoImg{
  width:300px;
  height:400px;
}

.paperProtoText{
  font-size: 20px;
}
.usabilityTitle{
  margin-top: 1%;
}

.top3Bottom3{
  display:block;
  text-align: center;
}

.feedbackParent{
display: inline-block;
margin-top:1%;
margin-left: 3%;
margin-right: 3%;
}

.testingFeedback{
  width: 200px;
  height: 120px;
  padding:5%;
  color: white;
}

.experienceBox{
  text-align: center;
}

.feedbackP{
  display:inline-block;
  color:rgb(74,74,74);
  width:200px;
  vertical-align: top;
}
.feedbackParentGreen{
  background-color: rgb(01, 161, 167);
  color: white;
}

.feedbackParentOrange{
  background-color: rgb(221,98,92);
  color: white;
}

.feedbackParentCharcol{
 background-color: rgb(74,74,74);
 color: white;
}

.feedbackParentLightGreen{
  background-color: rgb(212,245,242);
  color: rgb(74,74,74);
}
.feedbackParentLightOrange{
  background-color: rgb(249,216,212);
  color: rgb(74,74,74);
}

/*DESIGN:
Usability testing findings*/
.findings2PParent{
  text-align: center;
  margin:5%;
}

.findings2P{
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

/*DESIGN:
DESIGN DECISIONS*/

.designDecisions{
  text-align: center;
  margin:5%;
}

.decCircle{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color: rgb(01, 161,167);
  color:white;
  position:relative;
  vertical-align: top;
  margin-right: 2%;
  display: inline-block;
  font-size:26px;
  padding-top:7px;
}

.decText{
  text-align: left;
  width:650px;
  display: inline-block;
}

@media (max-width:711px) {
  .decText{
    width:90%;
  }
}

.decPoints{
font-size: 24px;
font-weight: bold;
}

/*BUILD AND DELIVER:
Before and After*/
.beforeAndAfter{
  margin-bottom: 1%;
}

.buildText{
  width:90%;
  margin-left: 7%;
  font-size: 18px;
}

.comparisons{
  text-align: center;
}

.comparisonTitle{
  text-align: center;
  font-size: 24px;
  margin-left: 5%;
}

.formerFilter{
  margin-left:33%;
}

.filter{
margin-left: 27%;
}

.comparisonTitle2{
  margin-left:10%;
}

.listView{
    display: inline-block;
    vertical-align: top;
    padding:2%;
}

.listViewImg{
  width:500px;
}

/*BUILD: logo redesign*/

.logoTitle{
  margin-bottom: 0;
}

.logoTitleBeforeAndAfter{
font-size: 30px;
}

.logoSecParent, .logoSec{
  text-align: center;
}

.logoWithText{
  display: inline-block;
  padding: 3%;
  vertical-align: bottom;
}

.octoLogo{
  width:200px;
}

.octoLogoNew{
  width:232px;
}

.octoLogoNew2{
  width:250px;
}

/*NEXT STEPS*/
.rollOut{
  margin-top: 0%;
}

.stepsParent{
  text-align: center;
}

.stepsSec{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin:10px 10px 0px 10px;
}

.recTop{
  width:300px;
  height:50px;
  background-color:rgb(01, 161, 167);
  vertical-align: middle;
  font-size: 24px;
  padding: 9px 0;
  color: white;
}

.phase{
  width:75px;
  height:75px;
  border-radius: 50%;
  border: solid 2px rgb(221,98,92);
  vertical-align: middle;
  font-size: 24px;
  margin: 2% auto;
  padding-top: 18px;
}

.phaseText{
text-align: left;
width:300px;
}
